body{
    /*background-color:#000080*/
    background-image: linear-gradient(to bottom, #000080, #0000AD ); 

}
@font-face {
    font-family: loveletter;
    src: url(Lovelt__.ttf);
}
.T{
    font-family: loveletter;
    color: darkcyan;
    text-align: center;
    font-size: 25px;
}
.P{
    font-family: loveletter;
    color: darkcyan;
    font-size: 25px;
    margin-left:3%;
    margin-right:3%;
    text-align:justify
}
.img{
    display:flex;
    margin-left:3%;
    margin-right:3%;
}
img{
    border-radius:8px; 
    max-height: 30%;
    max-width: 30%;
    flex-wrap:100px
}
a{
    color:darkcyan;
}
